.dropdown {
    position: absolute;
}

.table-striped > tbody > tr > td > .action-button > button {
    padding: 1px 5px;
}

.col-auto {
    float: left;
    margin-left: 10px;
}

    .col-auto:first-child {
        margin-left: 0;
    }

.col {
    float: right;
    margin-right: 1px;
}

.dataTable_filters {
    display: none;
}
.modal-title {
    float: left;
}
.custom-control-label {
    margin-left: 5px;
}