@using Abp.AspNetCore.Mvc.UI.Theme.AdminLTE.Themes.AdminLTE.Components.Toolbar
@model Abp.AspNetCore.Mvc.UI.Theme.AdminLTE.Themes.AdminLTE.Components.Toolbar.LanguageSwitch.LanguageSwitchViewComponentModel
<li class="nav-item dropdown d-none d-sm-inline-block">
    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        @Model.CurrentLanguage.DisplayName
        <span class="caret"></span>
    </a>
    <div class="dropdown-menu" x-placement="bottom-start">
        @foreach (var language in Model.OtherLanguages)
        {
            <a class="dropdown-item" href="/Abp/Languages/Switch?culture=@(language.CultureName)&uiCulture=@(language.UiCultureName)&returnUrl=@Context.Request.Path">@language.DisplayName</a>
        }
    </div>
</li>